* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  overflow: hidden;
}

.container {
  background-image: radial-gradient(farthest-side at 50% 0, #1f3756, #141539);
  height: 100vh;
  width: 100%;
}

.header {
  position: absolute;
  top: 5rem;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  padding: 2rem 2.7rem 2rem 3.5rem;
  border: 2px solid #606e85;
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__score-box {
  display: flex;
  justify-content: space-between;
}

.header-score {
  background-color: #fff;
  font-weight: 700;
  line-height: 1.1;
  margin-left: 10px;
  padding: 1rem 3rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.header__score-text {
  font-size: 1.8rem;
  color: #2a46c0;
  letter-spacing: 0.2rem;
  padding-bottom: 1rem;
}

.header__score-value {
  font-size: 5.5rem;
  color: #3b4363;
}

.header__turns {
  position: absolute;
  top: 5rem;
  right: 19rem;
  padding: 2rem;
  border: 2px solid #606e85;
  border-radius: 1.5rem;
}

.header__turns-container {
  background-color: #fff;
  font-weight: 700;
  line-height: 1.1;
  padding: 1rem 3rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.turns__text {
  font-size: 1.8rem;
  color: #2a46c0;
  letter-spacing: 0.2rem;
  padding-bottom: 1rem;
}

.turns__value {
  font-size: 5.5rem;
  color: #3b4363;
}

.rules {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
  color: #fff;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  border: 2px solid #acb0b9;
  border-radius: 1rem;
  padding: 0.9rem 3rem;
}

.rules-popup {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 5000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.rules-popup__box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 2.5rem 4rem;
  background-color: #fff;
  border-radius: 1rem;
  opacity: 0;
}

.rules-popup__contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 4rem;
}

.rules-popup p {
  color: #1f3756;
  font-size: 2.7rem;
  font-weight: 700;
}

.rules-popup:target {
  opacity: 1;
  visibility: visible;
}

.rules-popup:target .rules-popup__box {
  opacity: 1;
}

.game {
  width: 40%;
  height: 55%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}

.game__h3 {
  font-size: 2.3rem;
  font-weight: 600;
  letter-spacing: 2px;
  opacity: 0;
  visibility: hidden;
}

.game__h3-you {
  left: 30%;
}

.game__h3-house {
  right: 15%;
}

.game__triangle {
  position: absolute;
  top: 7rem;
  left: 50%;
  transform: translateX(-50%);
}

.game__icon-triangle {
  height: 20rem;
}

.game__icon-wrap {
  background-color: #fff;
  height: 80%;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: inset 0 0.5rem 0.2rem rgba(0, 0, 0, 0.2);
}

.game__icon-paper {
  transform: translate(-125%, -50%);
  background: linear-gradient(#4865f4, #5671f5);
  box-shadow: 0 0.59rem 0 #2945d1;
}

.game__icon-scissors {
  transform: translate(25%, -50%);
  background: linear-gradient(#ec9e0e, #eca922);
  box-shadow: 0 0.59rem 0 #ad7610;
}

.game__icon-rock {
  transform: translate(-50%, 80%);
  background: linear-gradient(#dc2e4e, #dd405d);
  box-shadow: 0 0.59rem 0 #9b1c34;
}


.game__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.icon {
  background-color: #fff;
  position: absolute;
  top: 7rem;
  left: 50%;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  cursor: pointer;
}

.game__icon-paper-1 {
  opacity: 0;
  visibility: hidden;
  transform: translate(138%, 40%) scale(1.5);
  background: linear-gradient(#4865f4, #5671f5);
  box-shadow: 0 0.59rem 0 #2945d1;
}

.game__icon-scissors-1 {
  opacity: 0;
  visibility: hidden;
  transform: translate(138%, 40%) scale(1.5);
  background: linear-gradient(#ec9e0e, #eca922);
  box-shadow: 0 0.59rem 0 #ad7610;
}

.game__icon-rock-1 {
  opacity: 0;
  visibility: hidden;
  transform: translate(138%, 40%) scale(1.5);
  background: linear-gradient(#dc2e4e, #dd405d);
  box-shadow: 0 0.59rem 0 #9b1c34;
}

.gameStat, .btn-play {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 100%);
  font-size: 3.7rem;
  font-weight: 700;
  opacity: 0;
  visibility: hidden;
}

.btn-play {
  top: 45%;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 15px 50px;
  border: none;
  border-radius: 5px;
}

.remove-display {
  display: none;
}

.show-selected-user {
  display: block;
  transform: translate(-238%, 40%) scale(1.5);
  transition: transform 0.5s;
}

.show-display {
  opacity: 1;
  visibility: visible;
}

.show-display-after {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s 0.5s;
}

.show-selected-computer {
  display: block;
  opacity: 1;
  visibility: visible;
  transition: all .2s .5s;
}

.pick-detail {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
}

.moveUser {
  -webkit-transform: translate(-250%, 40%) scale(1.7);
          transform: translate(-250%, 40%) scale(1.7);
}

.moveHouse {
  -webkit-transform: translate(150%, 40%) scale(1.7);
          transform: translate(150%, 40%) scale(1.7);
}

.win {
  color: #3b4363;
}

.lose {
  color: #f32929;
}

.disable {
  pointer-events: none;
}

@media (max-width: 1400px) {
  .header {
    padding: 1.5rem 2rem 1.5rem 2.5rem;
  }

  .header__turns-container {
    line-height: 1.1;
    padding: 1rem 3rem;
    border-radius: 1rem;
  }

  .header__turns {
    right: 13rem;
    padding: 1.5rem;
  }
  
  .header img {
    width: 140px;
  }
  
  .turns__text {
    font-size: 1.5rem;
  }
  
  .turns__value {
    font-size: 5rem;
  }

  .header__score-text {
    font-size: 1.5rem;
  }
  
  .header__score-value {
    font-size: 5rem;
  }
}

@media (max-width: 1100px) {
  .header {
    padding: 1.5rem 2rem 1.5rem 2.5rem;
  }

  .header__turns-container {
    line-height: 1.1;
    padding: 1rem 3rem;
    border-radius: 1rem;
  }

  .header__turns {
    right: 10rem;
    padding: 1.5rem;
  }
  
  .header img {
    width: 140px;
  }
  
  .turns__text {
    font-size: 1.5rem;
  }
  
  .turns__value {
    font-size: 5rem;
  }

  .header__score-text {
    font-size: 1.5rem;
  }
  
  .header__score-value {
    font-size: 5rem;
  }

  .header {
    width: 50%;
  }

  .game {
    width: 60%;
  }

  .pick-detail {
    width: 50%;
  }
}

@media (max-width: 1024px) {
  .game {
    width: 70%;
  }
  
  .btn-play {
    top: 65%;
  }

  .gameStat{
    top: 50%;
    font-size: 3rem;
  }

  .rules {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    border-radius: 1rem;
    padding: 0.9rem 2.2rem;
  }
}

@media (max-width: 768px) {
  .header {
    width: 90%;
    padding: 1rem 1.7rem 1rem 2.5rem;
  }

  .header img {
    width: 100px;
  }

  .header__score-box {
    padding: 1rem 2rem;
  }

  .header__score-text {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    padding-bottom: 1rem;
  }

  .header__score-value {
    font-size: 3.5rem;
  }

  .header__turns {
    padding: .5rem;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    border-radius: 8px;
  }

  .header__turns-container {
    background: none;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .turns__text {
    font-size: 1.5rem;
    color: #fff;
    padding-bottom: 0;
  }
  
  .turns__value {
    font-size: 2.5rem;
    color: rgb(133, 139, 151);
  }

  .rules {
    bottom: 1rem;
    right: 50%;
    transform: translateX(50%);
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    border-radius: 1rem;
    padding: 0.9rem 2.2rem;
  }

  .rules-popup p {
    font-size: 2.5rem;
  }

  .game {
    width: 85%;
    top: 40%;
  }

  .computer {
    transform: scale(1) translate(30%, 40%);
  }

  .icon {
    height: 12rem;
    width: 12rem;
  }

  .game__image {
    height: 45px;
  }
  
  .game__icon-triangle {
    height: 15rem;
  }
  
  .pick-detail {
    top: 50%;
    width: 85%;
    display: flex;
    justify-content: space-evenly;
  }

  .game__h3-you {
    left: 20%;
    font-size: 1.5rem;
  }

  .game__h3-house {
    right: 15%;
    font-size: 1.5rem;
  }

  .show-selected-user {
    transform: translate(-130%, 40%) scale(1);
  }

  .btn-play {
    top: 75%;
    font-size: 1rem;
    padding: 10px 20px;
  }

  .gameStat{
    top: 65%;
    font-size: 2.5rem;
  }
}

@media (max-width: 500px) {
  .header__score-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .header-score {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    padding: .8rem 2rem;
  }

  .header__score--user {
    margin-bottom: 2px;
  }
  
  .header__score-text {
    font-size: 1.3rem;
    letter-spacing: 0.18rem;
    padding-bottom: 0;
  }
  
  .header__score-value {
    font-size: 2rem;
    margin-left: 1rem;
  }

  .header__turns {
    padding: .2rem;
    top: 33%;
  }

  .header__turns-container {
    padding: .5rem;
  }

  .turns__text {
    font-size: 1.3rem;
  }
  
  .turns__value {
    font-size: 2rem;
    color: rgb(133, 139, 151);
  }

  .rules-popup__box {
    width: 90%;
  }

  .rules-popup__image {
    object-fit: contain;
  }

  .rules-popup p {
    font-size: 2rem;
  }
}